<html>
    <head>
        <style>
            /* Some CSS style */
        </style>
        <script>
            // Some javascript scripts
        </script>
    </head>
    <body>
        <ol>
            {% for i in range(my_todo_list|length) %}
            <li>{{ my_todo_list[i] }}
                <form action="/todo_delete" method="POST">
                    <input type="hidden" name="todo_id" value="{{i}}">
                    <input type="submit" value="Delete">
                </form>
            </li>
            {% endfor %}
        </ol>

        <form action="/todo_list" method="POST">
            <input type="text" name="new_todo">
            <input type="submit" value="Add Todo">
        </form>
    </body>
</html>
